.navbar {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: flex-end; 
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links {
    display: flex; 
    justify-content: flex-end; 
  }


.logo {
    font-size: 18px; 
    font-weight: bold; 
   margin-right: 1000px;
  }
  
  .list {
    color: #ff0000; 
  }
  
  .navbar ul li {
    margin-left: 20px; 
  }
  
  .navbar ul li:first-child {
    margin-left: auto; 
  }
  
  .navbar ul li a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
  }
  
  .navbar ul li a:hover {
    text-decoration: underline; 
  }
  