<div class="container home-container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title">Welcome to Todo List Manager</h2>
          <p class="card-text">Manage your tasks efficiently with our Todo List Manager. Stay organized, prioritize your tasks, and accomplish your goals seamlessly. Experience the simplicity and effectiveness of our tool designed to enhance your productivity.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="todo4.png" alt="Description of the image" class="img-fluid rounded shadow">
    </div>
  </div>
</div>
